body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: rgba(98, 167, 207, 0.726);
}

.content{
    max-width: 650px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.head{
    height: 40px;
    border-bottom: 1px solid rgb(156, 149, 149);
    position: relative;
    padding: 0 30px;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
}

input{
    margin: 25px 5px;
    padding: 7px 5px;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(98, 167, 207);
    border-radius: 5px;
    height: 25px;
    padding: 0 15px;
    font-size: 17px;
    cursor: pointer;
  }